# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log

# MySQL Data Volume
api/mysql_data/*
!api/mysql_data/.gitkeep

# Artillery output
*.artillery*

# OS
.DS_Store

# Env
.env

# VSCode
.vscode/
